.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
example07b1.erl.txt
*.trace
outfile.cgrind
outfile.fprof

PastFuture/compute_fractal_data.erl

PastFuture/cplx.erl

PastFuture/data_file_svr.erl

PastFuture/databox.erl

PastFuture/fractal_server.erl
