{erl_opts, [debug_info, {parse_transform,lager_transform}]}.
{cover_enabled, true}.
{deps, [
        cowboy,
        {jiffy, {git, "https://github.com/davisp/jiffy.git"} },
        lager,
        png,
        {worker_pool,".*", {git, {url,"https://github.com/inaka/worker_pool.git"},{branch,"master"}}},
        {xref_runner, {git, "https://github.com/inaka/xref_runner.git",{tag,"0.2.2"}}}
        ]}.
{relx, [{release, {sFractals, "0.0.1"},
         [sFractals]},

        {dev_mode, true},
        {include_erts, false},
        {sys_config,"./config/sys.config"},
        {extended_start_script, true}
       ]
}.
