{erl_opts, [debug_info, {parse_transform,lager_transform}, native ]}.
{cover_enabled, true}.
{deps, [
        cowboy,
        {jiffy, {git, "https://github.com/davisp/jiffy.git"} },
        lager,
        png,
        {worker_pool, {git, "https://github.com/inaka/worker_pool.git"} }
        ]}.
{relx, [{release, {sFractals, "0.0.1"},
         [sFractals]},

        {dev_mode, true},
        {include_erts, false},
        {sys_config,"./config/sys.config"},
        {extended_start_script, true}
       ]
}.
