{erl_opts, [debug_info, {parse_transform,lager_transform} ]}.
%%{erl_opts, [debug_info, {parse_transform,lager_transform}, native ]}.
{ct_opts, [{config, ["config/sys.config"]}]}.
{cover_enabled, true}.
{deps, [
        cowboy,
        {epocxy, {git, "https://github.com/duomark/epocxy.git"} },
        %%eper,     %% redbug for debugging
        %%recon,  %% for debugging
        {jiffy, {git, "https://github.com/davisp/jiffy.git"} },
        lager,
        png,
        {shotgun,{git, "https://github.com/inaka/shotgun.git"} }
        ]}.
{relx, [{release, {sFractals, "0.0.1"},
         [sFractals]},

        {dev_mode, true},
        {include_erts, false},
        {sys_config,"./config/sys.config"},
        {extended_start_script, true}
       ]
}.
