[ 
 {sFractal, [
   {fractalAlg    , julian}, 
   {imageFileName , "../examples/example9.png"}, 
   {dataFileName  , "../examples/example9.erl.txt"},
   {colorAlg      , simplest},
   {width         , 10},   
   {height        , 10},    
   {cReal         , 0.5},    
   {cImaginary    , -0.5},    
   {zReal         , -0.1},
   {zImaginary    , -0.1}, 
   {xRealRight    , 1.0},
   {xRealLeft     , -1.0},
   {yImaginaryLow , 0.0},
   {yImaginaryHigh , 2.0},
   {bailoutThreshold , 4},
   {maxIterationThreshold , 11} 
  ]}
].
